body{
    font-family: 'Poppins';
    background-color: beige;
}
.container{
    min-width: fit-content;
    margin: 0;
}
.shop-name{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}
hr{
    margin: 0px
}
td,tr,th{
    color: brown;
}
.shop-name > h1{
    font-family: Lobster;
    text-align: center;
    font-size: 3em;
    color: brown;
}
h5{
    color: brown;
    margin: 8px;
}
.content-cont{
    display: flex;
    margin: 0;
}

.pizza-item{
    background-color: goldenrod;
    min-width: 350px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 25px;
    padding: 25px 30px;
    border-radius: 25px;
    box-shadow: 1px 8px 10px 1px lightgray;
    flex-wrap: wrap;
}

.pizza-item > article{
    margin-bottom: 15px;
    margin-top: 5px;
}

.pizza-item > div{
    width: 100%;
}

.pizza-item > p{
    text-align: center;
    margin-bottom: 10px;
}
.pizza-item > div > img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}


.ksh-trolley {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
    width: 40%;
    cursor: pointer;
    background-color: cadetblue;
    color: brown;
}

.check-out{
    display: none;
}

.accept-decline{
    display: none;
}
.accept-decline span{
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

/* media queries */

@media only screen and (min-width: 540px) and (max-width:810px){
    .content-cont{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .pizza-item{
        min-width: 0px;
    width: 65%;
    }
}

@media only screen and (max-width: 540px){
    .content-cont{
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .pizza-item{
        width: 90%;
    }
}