body{
    font-family: 'Poppins';
    background-color: whitesmoke;
}
h5{
    color: brown;
    margin: 8px;
}
.container{
    display: flex;
    margin: 0;
}

.burger-item{
    background-color: goldenrod;
    min-width: 350px;
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 25px;
    padding: 25px 30px;
    border-radius: 25px;
    box-shadow: 1px 8px 10px 1px lightgray;
    flex-wrap: wrap;
}

.burger-item > article{
    margin-bottom: 15px;
    margin-top: 5px;
}

.burger-item > div{
    width: 100%;
}

.burger-item > p{
    text-align: center;
    margin-bottom: 10px;
}
.burger-item > div > img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}


.ksh-trolley {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
    width: 60%;
    cursor: pointer;
    background-color: cadetblue;
    color: brown;
}

.check-out{
    display: none;
}